html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  background-color: #f5f5f5;
  color: #222;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  color: #000;
}

strong {
  color: #000;
}

a {
  color: #000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}