.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* header styles */
.nav {
  background-color: #fff;
  
  display: flex;
  align-items: center;

  font-family: 'Lato', sans-serif;
  height: 50px;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 9;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  list-style-type: none;
  padding: 0;
}

.intro {
  background-color: #551A8B;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 400px;
  margin-top: 50px;
}

/* main styles */
.serif__description,
.sans-serif__description,
.monospace__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.serif__text,
.sans-serif__text,
.monospace__text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.text__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  font-size: 1.5em;
  margin: 0 30px;
}

.serif,
.serif__description,
.serif__example,
.sans-serif,
.sans-serif__description,
.sans-serif__example,
.monospace,
.monospace__description,
.monospace__example {
  padding: 15px;
}

@media screen and (min-width: 1360px) {
  .nav {
    left: unset;
    width: 1360px;
  }
}

@media screen and (max-width: 960px) {
  .serif,
  .sans-serif,
  .monospace {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .nav__item {
    margin: 0 5px;
  }

  .serif__text,
  .sans-serif__text,
  .monospace__text {
    padding-left: 20px;
  }
}