/* header styles */
.intro__p {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 1.4em;
  padding: 10px;
  text-align: center;
}

.intro__heading {
  margin-top: 0;
  color: #fff;
}

.nav__item {
  margin: 0 10px;
}

/* main styles */
.serif__example,
.sans-serif__example,
.monospace__example {
  background-color: #fdfdfd;
}

.serif__favorite,
.sans-serif__favorite,
.monospace__favorite {
  padding-left: 20px;
}

.serif {
  font-family: 'Playfair Display', serif;
}

.sans-serif {
  font-family: 'Lato', sans-serif;
}

.monospace {
  font-family: 'Ubuntu Mono', monospace;
}

.block__p {
  margin: 0;
}

.color {
  color: #551A8B;
}

.color--big {
  color: #551A8B;
  font-size: 3em;
}