<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} · {% endif %}Typography{% if page.title-after %} · {{ page.title-after }}{% endif %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:400,400i,700|Ubuntu+Mono:400,400i,700">
    <link rel="stylesheet" href="css/main.css">
    <script src="{{ site.baseurl }}/js/main.js" defer></script>
</head>
<body id="intro">
    <div class="container">
      {{ content }}
    </div>
  </body>
  </html>